<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        IMANAGE - Project Management 
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png')}}" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.min.css')}}">

    <!-- APP CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
</head>

<body class="sidebar-expand">

    <!-- SIDEBAR -->
    {% include 'components/sidebar.html' %}
    <!-- END SIDEBAR -->
    <!-- Main Header -->
    {% include 'components/mainheader.html' %}
    <!-- End Main Header -->
    
    <!-- MAIN CONTENT -->
    <div class="main">


        <div class="main-content board">
            {% include 'components/soubheader.html' %}
            <div class="row">
                <div class="col-12">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">{{data.nomP}}</h4>
                            <div class="box-right d-flex">
                                <a class="btn" href="#">Project Details</a>
                                <div class="icon-ratting">
                                    <i class='bx bxs-star'></i>
                                </div>
                                <div class="dropdown ml-14">
                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class='bx bx-dots-vertical-rounded fs-22'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="box-body d-flex justify-content-between pb-0">
                            <div class="team-name">
                                <a href="#" class="team">
                                    <div class="icon"><i class="fas fa-tags"></i></div>
                                    <h5>{{data.nomEQ}}</h5>
                                </a>
                            </div>
                            <div class="action">
                                <a href="#" class="comment">{{cmnttot.count}} Comments</a>
                            </div>
                            <ul class="user-list s2">
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li class="total"><span>+4</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="kanban-board card mb-0 pd-0">
                        <div class="box-body pd-0">
                            <div class="kanban-cont">
                                <div class="kanban-list kanban-list-to-do">
                                    <div class="kanban-header">
                                        <h6 class="card-title">On hold</h6>
                                        <div class="dropdown">
                                            <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kanban-wrap">
                                        {% for item in tas %}
                                        {% if item.status == 'On hold' %}
                                        <div class="panel">
                                            <div class="kanban-box item-box">
                                                <div class="dropdown edit">
                                                    <a href="#" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                    </div>
                                                </div>
                                                <div class="img-box">
                                                    <img src="{{ url_for('static', filename='images/to-do-list/project-1.png')}}" alt="">
                                                </div>
                                                <div class="content-box">
                                                    <h6 class="title fs-16">{{item.nomT}}</h6>
                                                    <div class="progress skill-progress mt-15 mb-15" style="height:7px;">
                                                        <div class="progress-bar progress-animated" style="width: {{item.etat}}%; height:7px;" role="progressbar">
                                                            <span class="sr-only">{{item.etat}}% Complete</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="link"><a href="#"><i class="fas fa-paperclip"></i></a></div>
                                                        <div class="time">
                                                            <p class="font-main mb-0"><i class="far fa-clock"></i>Deadline : {{dateF}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="btn-add-card">
                                        <a class="dropdown-item font-w500 fs-16" href="#" data-toggle="modal" data-target="#add_card_modal"><i class="fas fa-plus mr-14"></i>Add a card</a>
                                    </div>
                                </div>
                                <div class="kanban-list kanban-progress">
                                    <div class="kanban-header">
                                        <h6 class="card-title">In Progress</h6>
                                    </div>
                                    <div class="kanban-wrap">
                                        {% for item in tas %}
                                        {% if item.status == 'Dealy' %}
                                        <div class="panel">
                                            <div class="kanban-box item-box">
                                                <div class="dropdown edit">
                                                    <a href="#" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                    </div>
                                                </div>
                                                <div class="img-box">
                                                    <img src="{{ url_for('static', filename='images/to-do-list/project-1.png')}}" alt="">
                                                </div>
                                                <div class="content-box">
                                                    <h6 class="title fs-16">{{item.nomT}}</h6>
                                                    <div class="progress skill-progress mt-15 mb-15" style="height:7px;">
                                                        <div class="progress-bar progress-animated" style="width: {{item.etat}}%; height:7px;" role="progressbar">
                                                            <span class="sr-only">{{item.etat}}% Complete</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="link"><a href="#"><i class="fas fa-paperclip"></i></a></div>
                                                        <div class="time">
                                                            <p class="font-main mb-0"><i class="far fa-clock"></i>Deadline : {{dateF}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="btn-add-card">
                                        <a class="dropdown-item font-w500 fs-16" href="#" data-toggle="modal" data-target="#add_card_modal"><i class="fas fa-plus mr-14"></i>Add a card</a>
                                    </div>
                                </div>
                                <div class="kanban-list kanban-approved">
                                    <div class="kanban-header">
                                        <h6 class="card-title">Completed</h6>
                                    </div>
                                    <div class="kanban-wrap">
                                        {% for item in tas %}
                                        {% if item.status == 'Completed' %}
                                        <div class="panel">
                                            <div class="kanban-box item-box">
                                                <div class="dropdown edit">
                                                    <a href="#" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                    </div>
                                                </div>
                                                <div class="img-box">
                                                    <img src="{{ url_for('static', filename='images/to-do-list/project-1.png')}}" alt="">
                                                </div>
                                                <div class="content-box">
                                                    <h6 class="title fs-16">{{item.nomT}}</h6>
                                                    <div class="progress skill-progress mt-15 mb-15" style="height:7px;">
                                                        <div class="progress-bar progress-animated" style="width: {{item.etat}}%; height:7px;" role="progressbar">
                                                            <span class="sr-only">{{item.etat}}% Complete</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="link"><a href="#"><i class="fas fa-paperclip"></i></a></div>
                                                        <div class="time">
                                                            <p class="font-main mb-0"><i class="far fa-clock"></i>Deadline : {{item.dateF.strftime("%d - %m - %Y")}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="btn-add-card">
                                        <a class="dropdown-item font-w500 fs-16" href="#" data-toggle="modal" data-target="#add_card_modal"><i class="fas fa-plus mr-14"></i>Add a card</a>
                                    </div>
                                </div>
                                <div class="kanban-list kanban-review">
                                    <div class="kanban-header">
                                        <h6 class="card-title">In Review</h6>
                                    </div>
                                    <div class="kanban-wrap">
                                        {% for item in tas %}
                                        {% if item.status == 'In Review' %}
                                        <div class="panel">
                                            <div class="kanban-box item-box">
                                                <div class="dropdown edit">
                                                    <a href="#" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                    </div>
                                                </div>
                                                <div class="img-box">
                                                    <img src="{{ url_for('static', filename='images/to-do-list/project-1.png')}}" alt="">
                                                </div>
                                                <div class="content-box">
                                                    <h6 class="title fs-16">{{item.nomT}}</h6>
                                                    <div class="progress skill-progress mt-15 mb-15" style="height:7px;">
                                                        <div class="progress-bar progress-animated" style="width: {{item.etat}}%; height:7px;" role="progressbar">
                                                            <span class="sr-only">{{item.etat}}% Complete</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="link"><a href="#"><i class="fas fa-paperclip"></i></a></div>
                                                        <div class="time">
                                                            <p class="font-main mb-0"><i class="far fa-clock"></i>Deadline : {{dateF}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="btn-add-card">
                                        <a class="dropdown-item font-w500 fs-16" href="#" data-toggle="modal" data-target="#add_card_modal"><i class="fas fa-plus mr-14"></i>Add a card</a>
                                    </div>
                                </div>
                                <div class="kanban-list kanban-approved">
                                    <div class="kanban-header">
                                        <h6 class="card-title">Approved</h6>
                                    </div>
                                    <div class="kanban-wrap">
                                        {% for item in tas %}
                                        {% if item.status == 'Approved' %}
                                        <div class="panel">
                                            <div class="kanban-box item-box">
                                                <div class="dropdown edit">
                                                    <a href="#" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-pencil-alt"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                    </div>
                                                </div>
                                                <div class="img-box">
                                                    <img src="{{ url_for('static', filename='images/to-do-list/project-1.png')}}" alt="">
                                                </div>
                                                <div class="content-box">
                                                    <h6 class="title fs-16">{{item.nomT}}</h6>
                                                    <div class="progress skill-progress mt-15 mb-15" style="height:7px;">
                                                        <div class="progress-bar progress-animated" style="width: {{item.etat}}%; height:7px;" role="progressbar">
                                                            <span class="sr-only">{{item.etat}}% Complete</span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="link"><a href="#"><i class="fas fa-paperclip"></i></a></div>
                                                        <div class="time">
                                                            <p class="font-main mb-0"><i class="far fa-clock"></i>Deadline : {{dateF}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="btn-add-card">
                                        <a class="dropdown-item font-w500 fs-16" href="#" data-toggle="modal" data-target="#add_card_modal"><i class="fas fa-plus mr-14"></i>Add a card</a>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="add_project" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Project Name</label>
                                            <input class="form-control" value="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Client</label>
                                            <select class="select">
                                                <option>Client 1</option>
                                                <option>Client 2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control " type="date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>End Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control " type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Rate</label>
                                            <input placeholder="$50" class="form-control" value="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <select class="select">
                                                <option>Hourly</option>
                                                <option selected>Fixed</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Priority</label>
                                            <select class="select">
                                                <option selected>High</option>
                                                <option>Medium</option>
                                                <option>Low</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Upload Files</label>
                                    <input class="form-control" type="file">
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal custom-modal fade" id="delete_project" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Card</h3>
                                <p>Are you sure want to delete?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6 mb-0">
                                        <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                    </div>
                                    <div class="col-6 mb-0">
                                        <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit_card_modal" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Edit Card</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label>Image Card</label>
                                    <input class="form-control" type="file">
                                </div>
                                <div class="form-group">
                                    <label>Card Name</label>
                                    <input type="text" class="form-control" value="Food Website hero area">
                                </div>
                                <div class="form-group">
                                    <label>Due Date</label>
                                    <div class="cal-icon">
                                        <input class="form-control " type="date" value="">
                                    </div>
                                </div>
                                <div class="submit-section text-center">
                                    <button class="btn btn-primary submit-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="add_card_modal" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Task</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="/task/add/{{data.projet_id}}" method="post" role="contentinfo">
                                <div class="form-group">
                                    <label>Task Name</label>
                                    <input type="text" class="form-control" name="taskName" value="">
                                </div>
                                <div class="form-group"> 
                                    <label class="form-label">Select Priority:</label> 
                                    <select name="taskPriority" class="form-control custom-select select2 select2-hidden-accessible" data-placeholder="Select Priority" tabindex="-1" aria-hidden="true"
                                            data-select2-id="select2-data-16-akyu">
                                        <option label="Select Priority" data-select2-id="select2-data-18-ezae"></option> 
                                        <option value="High">High</option> 
                                        <option value="Medium">Medium</option> 
                                        <option value="Low">Low</option> 
                                    </select>
                                    <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-17-6y8j" style="width: 100%;">
                                        <span class="selection">
                                            <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-attendance-ws-container" aria-controls="select2-attendance-ws-container"><span class="select2-selection__rendered" id="select2-attendance-ws-container" role="textbox" aria-readonly="true" title="Select Priority"></span>
                                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                            </span>
                                        </span>
                                        <span class="dropdown-wrapper" aria-hidden="true"></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Start Date:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class='bx bx-calendar'></i></div>
                                        </div>
                                        <input class="form-control" name="dateStart" type="date" value=""> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Deadline:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class='bx bx-calendar'></i></div>
                                        </div>
                                        <input class="form-control" name="dateFinish" type="date" value=""> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Progress:</label>
                                    <div class="input-group">
                                        <input type="range" name="taskEtat" class="form-range" value="0" min="0" max="100" oninput='this.nextElementSibling.value = this.value + "%"'>
                                        <output class="ml-5">0%</output>
                                    </div>
                                </div>
                                <div class="form-group"> 
                                    <label class="form-label">Select Work Status:</label> 
                                    <select name="taskStatus" class="form-control custom-select select2 select2-hidden-accessible" data-placeholder="Select Priority" tabindex="-1" aria-hidden="true"
                                            data-select2-id="select2-data-16-akyu">
                                        <option label="Select Work Status" data-select2-id="select2-data-18-ezae"></option> 
                                        <option value="Dealy">Dealy</option> 
                                        <option value="On hold">On hold</option> 
                                        <option value="In Review">In Review</option> 
                                        <option value="Completed">Completed</option> 
                                        <option value="Approved">Approved</option> 
                                    </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-17-6y8j" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-attendance-ws-container" aria-controls="select2-attendance-ws-container"><span class="select2-selection__rendered" id="select2-attendance-ws-container" role="textbox" aria-readonly="true" title="Select Priority"></span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                </span>
                                </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                                <div class="form-group"> 
                                    <label class="form-label">Select Employee:</label> 
                                    <select name="emp_id" class="form-control custom-select select2 select2-hidden-accessible" data-placeholder="Select Employee" tabindex="-1" aria-hidden="true"
                                            data-select2-id="select2-data-16-akyu">
                                        <option label="Select Employee" data-select2-id="select2-data-18-ezae"></option> 
                                        {% for emp in emps %}
                                        <option value="{{emp.emp_id}}">{{emp.fullName}}</option> 
                                        {% endfor %}
                                    </select>
                                <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-17-6y8j" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-attendance-ws-container" aria-controls="select2-attendance-ws-container"><span class="select2-selection__rendered" id="select2-attendance-ws-container" role="textbox" aria-readonly="true" title="Select Priority"></span>
                                <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                </span>
                                </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                </div>
                                <div class="submit-section text-center">
                                    <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>

    <!-- SCRIPT -->
    <!-- APEX CHART -->

    
    <script src="{{ url_for('static', filename='libs/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/jquery/jquery-ui.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/moment/min/moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/apexcharts/apexcharts.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/peity/jquery.peity.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/chart.js/Chart.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/owl.carousel/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js')}}"></script>

    <!-- APP JS -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/shortcode.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>