<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Protend - Project Management Admin Dashboard HTML Template
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png')}}" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.min.css')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='libs/date-picker/datepicker.css')}}">
    <!-- APP CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">

    
</head>

<body class="sidebar-expand counter-scroll">

    <!-- SIDEBAR -->
    {% include 'components/sidebar.html' %}
    <!-- END SIDEBAR -->
    <!-- Main Header -->
    {% include 'components/mainheader.html' %}
    <!-- End Main Header -->    
    <!-- MAIN CONTENT -->
    <div class="main">

        <div class="main-content project">
            <div class="row">
                <div class="col-12">
                    <form id="addProject" action="/addProject" method="post" class="box" autocomplete="off">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 mb-24">
                                    <div class="form-group"> <label class="form-label">Project Title</label> <input class="form-control" name="title" placeholder="Software Development"> </div>
                                </div>
                                <div class="col-md-6 col-sm-12 mb-24">
                                    <div class="form-group"> <label class="form-label">Category:</label>
                                        <select name="category" class="form-control custom-select select2 select2-hidden-accessible" data-placeholder="Select Category" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-22-9i9m">
                                            <option label="Select Category" data-select2-id="select2-data-24-ktnv"></option> 
                                            {% for item in cats %}
                                                <option value="{{item.cat_id}}">{{item.cat_name}}</option> 
                                            {% endfor %}
                                        </select>
                                        <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-23-72at" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-attendance-92-container" aria-controls="select2-attendance-92-container"><span class="select2-selection__rendered" id="select2-attendance-92-container" role="textbox" aria-readonly="true" title="Select Category"></span>
                                        <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                        </span>
                                        </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="col-md-6 col-sm-12 mb-24">
                                    <div class="form-group "> <label class="form-label">Assign Team:</label> 
                                        <select name="team" class="form-control custom-select select2 select2-hidden-accessible" data-placeholder="Select Team" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-38-9jkg">
                                            <option label="Select Team" data-select2-id="select2-data-40-q3xu"></option> 
                                            {% for item in teams %}
                                            <option value="{{item.equipe_id}}">{{item.nomEQ}}</option> 
                                            {% endfor %} 
                                        </select>
                                        <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-39-684b" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-attendance-8z-container" aria-controls="select2-attendance-8z-container"><span class="select2-selection__rendered" id="select2-attendance-9z-container" role="textbox" aria-readonly="true" title="Enter Client"></span>
                                        <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                        </span>
                                        </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 mb-24">
                                    <div class="form-group"> <label class="form-label">Form:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"> <i class='bx bx-calendar'></i> </div>
                                            </div><input name="StartDate" class="form-control fc-datepicker" placeholder="DD-MM-YYY" type="date"> </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 mb-24">
                                    <div class="form-group"> <label class="form-label">To:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text"> <i class='bx bx-calendar'></i> </div>
                                            </div><input name="EndDate" class="form-control fc-datepicker" placeholder="DD-MM-YYY" type="date"> </div>
                                    </div>
                                </div>
                            </div>
                           

                            <div class="form-group mb-24"> <label class="form-label">Description:</label>
                                <textarea class="form-control" name="desc" cols="30" rows="10"></textarea>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-6 col-sm-12">
                                    <div class="form-group"> <label class="form-label">Attachment:</label>
                                        <div class="input-group file-browser"> <input type="text" class="form-control border-end-0 browse-file" placeholder="choose" readonly=""> <label class="input-group-append mb-0"> <span class="btn ripple btn-light"> Browse <input type="file" class="file-browserinput" style="display: none;" multiple=""> </span> </label>                                            </div>
                                    </div>
                                </div> -->
                                <div class="col-md-6 col-sm-12">
                                    <div class="custom-controls-stacked d-lg-flex align-items-center">
                                        <label class="form-label mt-1 fs-18 font-w500 color-primary">Work Status :</label>
                                        <label class="custom-control custom-radio success me-4">
                                            <input type="radio" class="custom-control-input" name="status" value="Completed">
                                            <span class="custom-control-label">Completed</span>
                                        </label>
                                        <label class="custom-control custom-radio success me-4">
                                            <input type="radio" class="custom-control-input" name="status" value="Pending"> 
                                            <span class="custom-control-label">Pending</span>
                                        </label>
                                        <label class="custom-control custom-radio success me-4">
                                            <input type="radio" class="custom-control-input" name="status" value="On Progress">
                                            <span class="custom-control-label">On Progress</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <div class="alert alert-{{ messages.0.0 }} " role="alert">
                                {% for category, message in messages %}
                                    <span class="{{'badge-danger-light'}}"> {{ message }} </span> 
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <div class="gr-btn mt-15"> <button type="reset" class="btn btn-danger btn-lg mr-15 fs-16">CLOSE</a> <button id="sbtbtn" class="btn btn-primary btn-lg fs-16" onclick="not1()" type="submit">SUBMIT</button> </div>
                    </form>
                </div>

            </div>


            <div id="add_project" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Create Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Project Name</label>
                                            <input class="form-control" value="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Client</label>
                                            <select class="select">
                                                <option>Client 1</option>
                                                <option>Client 2</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control" type="date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>End Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control " type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Rate</label>
                                            <input placeholder="$50" class="form-control" value="" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <select class="select">
                                                <option>Hourly</option>
                                                <option selected>Fixed</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Priority</label>
                                            <select class="select">
                                                <option selected>High</option>
                                                <option>Medium</option>
                                                <option>Low</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea rows="4" class="form-control" placeholder="Enter your message here"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Upload Files</label>
                                    <input class="form-control" type="file">
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>

    <!-- SCRIPT -->
    <!-- APEX CHART -->

    <script src="{{ url_for('static', filename='libs/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/jquery/jquery-ui.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/moment/min/moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/peity/jquery.peity.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/chart.js/Chart.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/owl.carousel/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/countto.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/date-picker/datepicker.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js')}}"></script>


    <!-- APP JS -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/shortcode.js')}}"></script>
    <script src="{{ url_for('static', filename='js/pages/datepicker.js')}}"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
    <script>
        $("#sbtbtn").click(function() {

        var url = "/addProject"; // the script where you handle the form input.
        console.log('js test')
        $.ajax({
            type: "POST",
            url: url,
            data: $("#addProject").serialize(), // serializes the form's elements.
            success: function(data)
            {
                alert(data); // show response from the php script.
            }
            });

        return false; // avoid to execute the actual submit of the form.
        });
    </script> -->
</body>

</html>