<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        IMANAGE - Project Management
    </title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png')}}" type="image/png">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.min.css')}}">

    <!-- APP CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/grid.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
</head>

<body class="sidebar-expand">

     <!-- SIDEBAR -->
     {% include 'components/sidebar.html' %}
     <!-- END SIDEBAR -->
     <!-- Main Header -->
     {% include 'components/mainheader.html' %}
     <!-- End Main Header -->

    <!-- MAIN CONTENT -->
    <div class="main">

        <div class="main-content">
            {% include 'components/soubheader.html' %}
            <div class="row">
                <div class="col-12">
                    <div class="box project">
                        <div class="box-header">
                            <h4 class="box-title">{{data.nomP}}</h4>
                            <div class="box-right d-flex">
                                <a class="btn" href="#">Project Details</a>
                                <div class="icon-ratting">
                                    <i class='bx bxs-star'></i>
                                </div>
                                <div class="dropdown ml-14">
                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class='bx bx-dots-vertical-rounded fs-22'></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#add_project"><i class="bx bx-edit mr-5"></i>Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="divider"></div>
                        <div class="box-body d-flex justify-content-between pb-0">
                            <div class="team-name">
                                <a href="#" class="team">
                                    <div class="icon"><i class="fas fa-tags"></i></div>
                                    <h5>{{data.nomEQ}}</h5>
                                </a>
                            </div>
                            <div class="action">
                                <a href="#" class="comment">{{cmnttot}} Comments</a>
                            </div>
                            <ul class="user-list s2">
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li><img src="{{ url_for('static', filename='images/profile/profile.png')}}" alt="user"></li>
                                <li class="total"><span>+4</span></li>
                            </ul>
                        </div>
                        <div class="divider"></div>
                        <div class="box-body content">
                            <h4 class="title">Project Description</h4>
                            <p class="fs-18 font-w400 font-main mt-27 mb-29">{{data.descriptionP}}</p>
                            <ul class="list-img">
                                <li>
                                    <div class="img-dv"><img src="{{ url_for('static', filename='images/product/project-01.jpg')}}" alt=""></div>

                                </li>
                                <li>
                                    <div class="img-dv"><img src="{{ url_for('static', filename='images/product/project-02.jpg')}}" alt=""></div>

                                </li>
                                <li>
                                    <div class="img-dv"><img src="{{ url_for('static', filename='images/product/project-03.jpg')}}" alt=""></div>

                                </li>
                                <li>
                                    <div class="img-dv">
                                        <img src="{{ url_for('static', filename='images/product/project-04.jpg')}}" alt="">
                                        <div class="overlay-1"></div>
                                        <a href="#" class="more">
                                            <h5 class="text-white">+ More 5 files</h5>
                                        </a>

                                    </div>


                                </li>
                            </ul>

                            <div class="form-chat">
                                 
                                <form id="addCmnt" action="/project-comment/{{data.projet_id}}" method="post" autocomplete="off">
                                    <div class="flex-grow-0 py-3 px-4 border-top">
                                        <div class="input-group">
                                            <input type="text" name="message" class="form-control" placeholder="Type your message">
                                            <button class="btn btn-primary" id="sbtbtn" type="submit">Send <i class="fas fa-paper-plane"></i></button>
                                        </div>
                                    </div>
                                </form>
                                <!-- /form -->
                            </div>

                            <div class="project-description mt-10">
                                <h4>Project Comments</h4>
                                <div class="comment-box">
                                    {% for cmnt in cmnts %}
                                    <div class="comment d-flex">
                                        <div class="left d-flex">
                                            <div class="comment-pic avatar">
                                                <img src="{{ url_for('static', filename='images/avatar/cmt-01.png')}}" alt="">
                                            </div>
                                            <div class="comment-body">
                                                <div class="name">
                                                    <h5 class="font-w600 fs-18">{{cmnt.fullName}}</h5>
                                                    <p class="text mb-0 fs-18">{{cmnt.cmt_text}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="add_project" class="modal custom-modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modifie Project</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/modifProject/{{data.projet_id}}" method="post" autocomplete="off">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Project Name</label>
                                            <input class="form-control" name="title" value="{{data.nomP}}" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">Category:</label>
                                            <select name="category" class="form-control custom-select select2 select2-hidden-accessible" data-placeholder="Select Category" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-22-9i9m">
                                                <option label="Select Category" data-select2-id="select2-data-24-ktnv"></option> 
                                                {% for item in cats %}
                                                    <option value="{{item.cat_id}}"  {{'selected' if item.cat_id == data.cat_id }}>{{item.cat_name}}</option> 
                                                {% endfor %}
                                            </select>
                                            <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-23-72at" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-attendance-92-container" aria-controls="select2-attendance-92-container"><span class="select2-selection__rendered" id="select2-attendance-92-container" role="textbox" aria-readonly="true" title="Select Category"></span>
                                            <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                            </span>
                                            </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control" name="StartDate" type="date" value="{{data.datedebut}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>End Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control" name="EndDate" type="date" value="{{data.datefin}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="form-label">Assign Team:</label> 
                                        <select name="team" class="form-control custom-select select2 select2-hidden-accessible" data-placeholder="Select Team" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-38-9jkg">
                                            <option label="Select Team" data-select2-id="select2-data-40-q3xu"></option> 
                                            {% for item in teams %}
                                            <option value="{{item.equipe_id}}" {{'selected' if item.equipe_id == data.equipe_id }}>{{item.nomEQ}}</option> 
                                            {% endfor %} 
                                        </select>
                                        <span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-39-684b" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-attendance-8z-container" aria-controls="select2-attendance-8z-container"><span class="select2-selection__rendered" id="select2-attendance-9z-container" role="textbox" aria-readonly="true" title="Enter Client"></span>
                                        <span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span>
                                        </span>
                                        </span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <select name="status" class="select">
                                                <option value="Completed">Completed</option>
                                                <option value="Pending">Pending</option>
                                                <option value="On Progress" selected>On Progress</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea rows="4" name="desc" class="form-control" placeholder="Enter your description here"></textarea>
                                </div>
                                <div class="submit-section">
                                    <button class="btn btn-primary submit-btn" type="submit" >Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal custom-modal fade" id="delete_project" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-header">
                                <h3>Delete Project</h3>
                                <p>Are you sure want to delete {{data.nomP}}?</p>
                            </div>
                            <div class="modal-btn delete-action">
                                <div class="row">
                                    <div class="col-6 mb-0">
                                        <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                                    </div>
                                    <div class="col-6 mb-0">
                                        <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>

    <!-- SCRIPT -->
    <!-- APEX CHART -->

    <script src="{{ url_for('static', filename='libs/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/jquery/jquery-ui.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/moment/min/moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/apexcharts/apexcharts.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/peity/jquery.peity.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/chart.js/Chart.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/owl.carousel/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='libs/simplebar/simplebar.min.js')}}"></script>

    <!-- APP JS -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/shortcode.js')}}"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
    <script>
        $("#sbtbtn").click(function() {

        var url = "/project-comment/{{data.projet_id}}"; // the script where you handle the form input.
        console.log('js test')
        $.ajax({
            type: "POST",
            url: url,
            data: $("#addCmnt").serialize(), // serializes the form's elements.
            success: function(data)
            {
                alert(data); // show response from the php script.
            }
            });
            
        return false; // avoid to execute the actual submit of the form.
        });
    </script> -->
</body>

</html>